$theme-colors : (
    "primary": #716d76,
    "secondary": #838489,
    "success": #579b5b,
    "info": #211e23,
    "warning": #d48b23,
    "danger": #f44336,
    "light": #F0EFEF,
    "dark": #1E1A1E,
);

@import "../bootstrap/bootstrap";

body {
    background-color: #1E1A1E;
    color: #F0EFEF;
}

.container-fluid {
    padding: 0;
}

.container-fluid-max {
    padding: 0;
}

.row {
    margin: 0;
}

.note-editable {
    background-color: #2B2B2B;
    color: #A7B6C5;
}

@include media-breakpoint-between(lg, xl) {
    .vh-lg-100 {
        height: 100vh;
    }

    .vh-lg-50 {
        height: 50vh;
    }
}

@include media-breakpoint-between(sm, md) {
    .vh-md-100 {
        height: 100vh;
    }

    .vh-md-50 {
        height: 50vh;
    }
}

@include media-breakpoint-down(sm) {
    .order-sm-first{
        order: -1;
    }

    .vh-sm-100 {
        height: 100vh;
    }

    .vh-sm-50 {
        height: 50vh;
    }
}