{% load static %}

<section id="home">
    <!-- 75% Hero -->
    <div class="section vh-75 over-hide">
        <div class="parallax" style="background-image:url({% static 'common/images/pexels-josh-sorenson-1714208.jpg' %}); background-position: 50% 0px;">
            <div class="overlay"></div>
            <div class="hero-bottom-wrap text-center z-bigger">
                <div class="container-fluid container-fluid-max parallax-fade-top">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="hero-text">Novagetan Productions</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 25% Slogan -->
    <div class="section vh-25 z-bigger-2">
        <div class="container-fluid container-fluid-max">
            <div class="row">
                <div class="col-12">
                    <div class="text-center mt-5">
                        <h3 class="mb-4">Development Resources</h3>
                        <a class="btn btn-warning" href="#fullscreen-card-0" role="button">Projects</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>