{% extends "projects/projectsbase.html" %}

{% block projects %}
{% load static %}
{% for project in projects %}
        {% if project.is_public or user.is_superuser %}

        <article class="mb-3 pb-3 border-bottom">
                <header class="mb-3" >
                    <a class="" href="{% url 'project' pk=project.pk %}">
                        <h3 class="py-0 my-0">{{ project.title }}</h3>
                    </a>
                    <small class="text-muted">{{ project.description }}</small>
                    <div>
                        <span class="mr-1">
                            <a href="#">
                                <img class="img" height="12em" src="{% static 'news/icons/glyphicons-4-user.png' %}"/>
                                {{ project.author.first_name }} {{ project.author.last_name }}
                            </a>
                        </span>
                        <span class="mr-1">
                            <a href="#">
                                <img class="img" height="12em" src="{% static 'news/icons/glyphicons-46-calendar.png' %}"/>
                                {{ project.created|date:"M j, Y" }}
                            </a>
                        </span>
                    </div>
                </header>
                <div>
                    <p> {{ project.description|striptags|default:"empty"|truncatewords:25 }} <a href="#">Read more [...]</a> </p>
                </div>
                <footer class="mt-2">
                    <span class="text-muted">
                        <a href="#">
                            <img class="img" height="12em" src="{% static 'news/icons/glyphicons-145-folder-open.png' %}"/>
                            {{ project.category }}
                        </a>
                    </span>
                    {% if user.is_superuser %}
                        <span class="text-muted mx-1">Admin:</span>
                        <a href="#">Edit</a>
                        |
                        <a href="#">Delete</a>
                        |
                        <a href="#">{% if post.is_public %}Make Private{% else %}Make Public{% endif %}</a>
                    {% endif %}
                </footer>
        </article>

        {% endif %}
    {% endfor %}

{% endblock %}
