{% extends "projects/projectsbase.html" %}

{% block projects %}
{% load static %}
{% for project in projects %}
        {% if project.is_public or user.is_superuser %}

        <article class="mb-3 pb-3 border-bottom">
                <header class="mb-3" >
                    <a class="" href="{% url 'project' slug=project.slug %}">
                        <h3 class="py-0 my-0">{{ project.title }}</h3>
                    </a>
                    <small class="text-muted">{{ project.description }}</small>
                    <div>
                        <span class="mr-1">
                            <a href="{% url 'about' %}">
                                <img class="img" height="12em" src="{% static 'common/icons/glyphicons-4-user.png' %}"/>
                                {{ project.user.first_name }} {{ project.user.last_name }}
                            </a>
                        </span>
                    </div>
                </header>
                <div>
                    <p> {{ project.description|striptags|default:"empty"|truncatewords:25 }} <a href="#">Read more [...]</a> </p>
                </div>
                {% if user.is_superuser %}
                    <footer class="mt-2">
                        <span class="text-muted">Admin:</span>
                        <a href="{% url 'edit_project' project_slug=project.slug %}">Edit</a>
                        |
                        <a href="{% url 'project_action' project_slug=project.slug action='delete' %}">Delete</a>
                        |
                        <a href="{% url 'project_action' project_slug=project.slug action='toggle-public' %}">{% if project.is_public %}Make Private{% else %}Make Public{% endif %}</a>
                    </footer>
                {% endif %}
        </article>

        {% endif %}
    {% endfor %}
{% endblock %}
