{% extends "common/base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="bg-light p-3 col-md-4 col-lg-3">
            <div class="card px-3 pt-3 mb-1">
                <a href="https://gravatar.com/">
                    <img class="card-img-top rounded" src="{{ gravatar_large }}"/>
                </a>
                <div class="card-body text-center">
                    <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
                    <a class="btn border btn-light"href="{% url 'logout' %}">Logout</a>
                </div>
            </div>

            <div class="list-group">
                <a href="{% url 'account' %}" class="list-group-item list-group-item-action {% if 'my_account' == page %}active{% endif %}">My Account</a>
                <a href="{% url 'account_settings' %}" class="list-group-item list-group-item-action {% if 'account_settings' == page %}active{% endif %}">Account Settings</a>
                <a href="{% url 'account_security' %}" class="list-group-item list-group-item-action {% if 'account_security' == page %}active{% endif %}">Security</a>
                <a href="{% url 'account_notifications' %}" class="list-group-item list-group-item-action {% if 'account_notification_settings' == page %}active{% endif %}">Notification Settings</a>
            </div>
        </div>
        <div class="pt-3 px-0 col-md-8 col-lg-9">

            {% block info %}
            {% endblock %}

        </div>
    </div>
</div>

{% endblock %}